<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav" id="top_menu">
      <li><a routerLinkActive="active" routerLink="home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="bootstrap">bootstrap</a></li>
      <li><a routerLinkActive="active" routerLink="jquery">jquery</a></li>
      <li><a routerLinkActive="active" routerLink="angular">angular</a></li>
      <li><a routerLinkActive="active" routerLink="http">http</a></li>
<!--      <li><a href="#">Jquery</a></li>
      <li><a href="#">angular</a></li>
      <li><a href="#">http</a></li>-->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
